@import "tailwindcss";

html,
body {
	font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji",
		"Apple Color Emoji", "Noto Color Emoji", sans-serif;
}
@font-face {
	font-family: "LucySaidOK";
	src: url("/fonts/Lucy-Said-Ok.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
